<!DOCTYPE html>
<html>
{% load static %}

<head>
    {% include 'portfolio/partials/header.html' %}
</head>

<body id="root">
    <div class="ui inverted vertical center aligned segment">
        {% include 'portfolio/partials/nav.html' %}
        <div class="ui content container">
            <h1 class="ui inverted header">I build web apps and play with data.</h1>
            <p>
                A python web developer with a passion for improving systems using analytics. Come with me on my journey!
                <!-- My interest in computers started at an early age. I explored computer engineering through minecraft, I've learned to code through various coursework and self led lessons, and my interest in data comes from an analytical curiosity and passion for systems engineering. Come with me on my journey!  -->
            </p>
        </div>

        {% include 'portfolio/partials/footer.html' %}

    </div>
</body>