{% load static %}
<title>My Dev Landing Page</title>

<meta charset="utf-8" />
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
<meta
name="viewport"
content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no"
/>
<meta name="author" content="EthanH" />
<meta name="theme-color" content="#ffffff" />

<link rel="stylesheet" type="text/css" href="{% static 'portfolio/semantic.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/std_styles.css' %}">
